* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  background: black;
}

h3 {
  text-align: center;
  margin: 2rem 0 5em 0;
  color: rgb(242, 242, 247);

}

h4 {
  text-align: left;
  margin: 0rem 2.5rem 0rem 2.5rem;
  color: rgb(108, 108, 112);

}

.accordion {
  max-width: 80%;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: rgb(242, 242, 247);
  background-color: rgb(36, 36, 38);
}

.accordion-title:hover {
  background-color: rgb(68, 68, 70);
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: black;
  color: rgb(174, 174, 178);

}

@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }

  .accordion {
    width: 90%;
  }
}
